<p class="alert alert-success"><%= notice %></p>
<%= render @user %>

<div>
  <%= link_to "Editar este usuário", edit_user_path(@user), class: "btn btn-primary" %> |
  <%= link_to "Voltar para usuários", users_path, class: "btn btn-secondary" %>
<%= button_to "Excluir este usuário", @user, method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn btn-danger" %>

</div>